<div class="column padding-reset">
  <div class="ui huge message" id="jumbotron">
    <h1 class="ui huge header">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>jocoDo
    </h1>
    <p>This is my smart to do list to keep track of everything!</p>
    <%= link_to "Sign Up", "#", class: "ui blue button" %>
  </div>
</div>
