<div class="ui menu">
  <div class="header item">
    <%= link_to( root_path, class: "home") do %>
      <h3>
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        jocoDo
      </h3>
    <%end%>
  </div>

  <div class="right menu">
    <a class="item">About</a>
  </div>
</div>
